<p id="notice"><%= notice %></p>

<p>
  <strong>Phone:</strong>
  <%= @phone.phone %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @phone.contact.name %>
</p>

<%= link_to 'Editar', edit_phone_path(@phone) %> |
<%= link_to 'Voltar', phones_path %>
